body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(37, 132, 255, .5);
    color: white;
    text-align: center;
}
h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 6rem;
}
#obrazky {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,40px));
}  
#obrazky img {
    width: 250px;
    height: 250px;
    margin-top: 2rem;
}
.popisek {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 3rem;
}
.item {
    padding: 1.3rem;
    margin: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
}
.l2-heading {
    font-size: 4rem;
    margin-bottom: 1.3rem;
    line-height: 1.1;
    font-family: 'Kanit', sans-serif;  
    color: rgba(255, 255, 255, 0.904);
}
body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#obrazky .item.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}
