@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #6883BC;
    --secondary-color: #8A307F;
}

#logo {
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#logo2 {
    color: var(--secondary-color);
}

.icon-code {
    padding-top: 0.5rem;
}

.text-primary {
    background-color: none;
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
}

.text-secondary {
    background-color: none;
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
}

#navbar {
    background-color: var(--primary-color);
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px;
}

#navbar a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

#logec {
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
    size: 10px;
    font-family: 'Kanit', sans-serif;    
}

#navbar ul li a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

@media only screen and (max-width:700px) {
    #navbar ul {
        margin-top: 1rem;
    }
}

table, th, td {
    border: 2px solid grey;
}

h1 {
    color: var(--secondary-color);
    padding: 10px
}

body {
    width: auto;
}

h2, h3 {
    color: black;
    margin: 2px;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}

h4 {
    color: black;
    margin: 2px;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

p {
    padding-left: 30px;
    padding-right: 60px;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 1.5rem;
}

#zdroje {
    text-align: left;
    color: black;
    font-size: 1.5rem;
}

#showcase {
    background: #333 url('../img/ai-picture.jpg') no-repeat center center/cover;
    height: 110vh;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0,0,0,.5);
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 1.3rem;
    line-height: 1.1;
    font-family: 'Kanit', sans-serif;  
    color: var(--primary-color);
}

.lead {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    color: var(--secondary-color);
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 2rem;
}

.text-center {
    text-align: center;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
}

.py-1 {
    padding: 1.5rem 0;
}

#what .items {
    display: flex;
    padding-bottom: 3rem;
}

#what .item {
    text-align: center;
    padding: 1rem;
    flex: 1;
}

#what .items .item i {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 50%;
    margin-bottom: 
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

.py-1 {
    padding: 0.5rem 0;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 2px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

#who {
    display: flex;
}

#who div {
    flex: 1;
}

#who .who-img{
    background: #333 url('../img/ai2-picture.jpg') no-repeat center center/cover;
    height: 110vh;
    width: 40vh;
}