
  @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: aquamarine;
    --secondary-color: mediumslateblue;
}

#logo {
    font-weight: bold;
    font-size: 2rem;
}

.text-primary {
    background-color: none;
    color: var(--primary-color);
}

#text-secondary {
    background-color: none;
    color: mediumslateblue;
}

#navbar {
    background-color: grey;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

#navbar a {
    color: black;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
    size: 20px;
    font-family: 'Kanit', sans-serif;    
}

#navbar ul li a:hover {
    background-color: cadetblue;
    border-radius: 5px;
}

@media only screen and (max-width:700px) {
    #navbar ul {
        margin-top: 1rem;
    }
}

table, th, td {
    border: 2px solid grey;
}

h1 {
    color: white;
    padding: 10px
}

body {
    width: auto;
}

h2, h3 {
    margin: 20px;
    font-family: 'Gabarito', cursive;
}

p {
    padding-left: 30px;
    padding-right: 60px;
    font-family: 'Gabarito', cursive;
}

#showcase {
    background: #333 url('../img/ai-picture.jpg') no-repeat center center/cover;
    height: 150vh;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0,0,0,.5);
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 1.3rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 7px;
}

 .btn:hover {
    background-color: aqua;
 }

