@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans+Georgian:wght@100&display=swap');

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gabarito&display=swap" rel="stylesheet">

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
  }

:root {
    --primary-color: #5a7cc5;
    --secondary-color: #8A307F;
}

#logo {
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

#logo2 {
    color: var(--secondary-color);
}

.icon-code {
    padding-top: 0.5rem;
}

.text-primary {
    background-color: none;
    color: var(--primary-color);
    font-family: 'Inter', sans-serif;
}

.text-secondary {
    background-color: none;
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
}

#navbar {
    background-color: var(--primary-color);
    color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 0.3rem;
    position: fixed;
    position: sticky;
    top: 0;
    z-index: 1;
}

#navbar a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

#logec {
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
    size: 10px;
    font-family: 'Kanit', sans-serif;    
}

#navbar ul li a:hover {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    #navbar {
        flex-wrap: wrap;
        justify-content: center;
    }
}

table, th, td {
    border: 2px solid grey;
}

h1 {
    color: var(--secondary-color);
    padding: 10px
}

body {
    width: auto;
    background-color: lightsteelblue;
}

h2, h3 {
    color: black;
    margin: 2px;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}

h4 {
    color: black;
    margin: 2px;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
}

h5 {
    color: black;
    margin: 9px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}

p {
    padding-left: 30px;
    padding-right: 60px;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 1.3rem;
}



#showcase {
    background: #333 url('../img/ai-picture.jpg') no-repeat center center/cover;
    height: 110vh;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0,0,0,.5);
}

#showcase2 {
    background: #333 url('../img/ai-picture2.jpg') no-repeat center center/cover;
    height: 90vh;
}

#showcase2 .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0,0,0,.5);
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 1.3rem;
    line-height: 1.1;
    font-family: 'Kanit', sans-serif;  
    color: var(--primary-color);
}

.lead {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    color: var(--secondary-color);
}

.btn {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 7px;
    font-family: 'Kanit', sans-serif;  
}

 .btn:hover {
    background-color: var(--secondary-color);
 }

.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 2rem;
    padding-top: 1rem;
}

.text-center {
    text-align: center;
}

.text-top {
    margin-top: 6rem;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    color: var(--secondary-color);
}

.py-1 {
    padding: 1.5rem 0;
}

#naucitese .items {
    display: flex;
    padding-bottom: 3rem;
    margin-top: 3rem;
}

#naucitese .item {
    text-align: center;
    padding: 0rem;
    flex: 1;
}

#naucitese .items .item i {
    background-color: var(--primary-color);
    padding: 2rem;
    border-radius: 50%;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

.py-1 {
    padding: 0.5rem 0;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.nadpis {
    margin: 10px;
    font-size: 2rem;
    text-align: left;
    color: var(--secondary-color);
    font-weight: bolder;
}



.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 2px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
}

.historie {
    margin: 10px;
    font-size: 2rem;
    text-align: left;
    color: var(--secondary-color);
    font-weight: bolder;
}

#historie_zajimavosti {
    display: flex;
    padding-top: 5rem;
    
}

#historie_zajimavosti div {
    flex: 1;
    background-color: #c7d4f0;
}

#historie_zajimavosti .historie_zajimavosti-img{
    background: #333 url('../img/ai2-picture.jpg') no-repeat center center/cover;
    height: 110vh;
    width: 40vh;
}

table {
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    
}

.my-table {
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
    width: 93%;
}

.my-table td,
.my-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.my-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.my-table tr:hover {
    background-color: #ddd;
}

.my-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--secondary-color);
    color: white;
}

.p-form {
    text-align: left;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: 1rem;
    justify-content: left;
    margin: 10px;
}

.myform {
    padding: 0.7rem;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.div-submit {
    padding: 0.50rem;
    padding-bottom: 5rem;
}

#zdroje {
    text-align: left;
    color: black;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    margin-bottom: 1px;
    margin-top: 2rem;
}

#footer {
    margin-top: 2rem;
}